boto3==1.9.226
Flask==1.1.1
Flask-Cors==3.0.8
flask-marshmallow==0.10.1
marshmallow==3.0.3
pynamodb==4.0.0
python-dateutil==2.8.0
python-json-logger==0.1.11
PyYAML==5.1.2
requests==2.22.0
virtualenv==16.7.5
webargs==5.5.0
