boto3==1.9.34 #no-deploy
Flask==1.0.2
Flask-Cors==3.0.6
flask-marshmallow==0.9.0
marshmallow==2.16.2
pendulum==2.0.4
python-json-logger==0.1.9
pyyaml==3.13
requests==2.20.0
pynamodb==3.3.1
webargs==4.1.1
