boto3==1.9.162
Flask==1.0.3
Flask-Cors==3.0.7
flask-marshmallow==0.10.1
marshmallow==2.19.2
python-dateutil==2.8.0
python-json-logger==0.1.11
PyYAML==5.1
requests==2.22.0
pynamodb==3.3.3
virtualenv==16.6.0
webargs==5.3.1
