---
{% set environment = sceptre_user_data.environment -%}
{% set project_code = sceptre_user_data.project_code -%}
{% set project_id = sceptre_user_data.project_id -%}
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  ServerlessDeploymentBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: {{ project_code }}-{{ environment }}-serverlessdeploymentbucket


  AssetsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: {{ project_id }}-{{ environment }}-assets
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders:
              - "*"
            AllowedOrigins:
              - "*"
            MaxAge: "3000"
            AllowedMethods:
              - HEAD
              - GET
              - PUT
              - POST
              - DELETE
            ExposedHeaders:
              - x-amz-server-side-encryption
              - x-amz-request-id
              - x-amz-id-2
              - ETag
